doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Designer Portfolio
    body 
    header 
        div.container
            div.navigation-block
                div.left-block-header
                    div.name DAMADAMS
                div.right-block-header
                    nav.navigation
                        ul.navigation-list
                            li Home 
                            li About 
                            li Latest Works
                            li Testimonials 
                            li Contact
    main
        section.first-section
            div.container
                div.second-block
                    div.left-block-second
                        div.text-block
                            p Hello,
                            span.first-span I'm 
                            span.second-span Daniella Adams
                            div I’m a Graphics Designer,Designng has become my everyday affair. masting styles,grids cant be less interesting.
                            button Download CV
                    div.right-block-second
                        div.background-block 
                            div.picture-block 
        section.middle
            div.containers
                div.block-middle-section
                    div.right-side-middle
                        div.middle-background-pic
                            div.middle-photo                                  	       
                    div.middle-text-block
                        h1.middle-text-title I am a creative Graphic & UI Designer
                        p I’m a Graphics Designer,Designng has become my everyday affair. masting styles,grids cant be less interesting,Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        div.buttons-middle
                            button.pink-button Download CV
                            button.white-button View Portfolio